//reescribir variabled de bootstrap
$rojo:#f34f51;
$verde:#0098ae;
$oscuro:#212121;
$gris:#b5b5b5;

//asignar paleta de colores a bootsrap
$primary : $rojo;
$secondary : $verde;
$dark : $oscuro;

/*tipografia*/
$display-font-weight: 900;
$headings-font-weight:700;

/*Nav-Link*/

$nav-link-padding-x:0;
$nav-link-color: $gris;
$nav-link-hover-color:darken($gris, 10%);

/*card*/
$card-border-color: transparent;
$card-border-radius: 5rem;


//importar boostrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
 